



.texto {
  background-color: rgb(255, 255, 255);
  color: #0099ff; /* Azul petróleo */
}

.hero-section h1 {
  background-color: rgb(255, 255, 255);
  color: #0099ff; /* Azul petróleo */
  margin-bottom: 3rem;
}

.hero-section p {
  background-color: rgb(255, 255, 255);
  color: #000000; /* Verde azulado */
  
}

.hero-img {
  transition: transform 1.0s ease, opacity 1s ease;
  transform: scale(1.4);
  opacity: 0.5;
}

/* Cuando entra en pantalla */
.hero-img.zoom-in {
  transform: scale(1);
  opacity: 1;
}

/* Transición suave para pantallas pequeñas */
@media (max-width: 768px) {
  .hero-img.zoom-in {
    transform: scale(1.03);
  }
}


/* Link o boton */

.hero-button {
  background-color:  #ff7300 !important;
  border-color:  #ff7300!important;
  color: white !important;
}

.hero-button:hover {
  background-color: #ff7300;
  border-color: #ff7300;
}