/* =====================================================
   SECCIÓN
===================================================== */

.mission-section {
  background: #f5f5f5;
  padding: 120px 20px;
}

.mission-container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

/* =====================================================
   LOGO
===================================================== */

.mission-logo {
  width: 300px;
  margin-bottom: 40px;
}

/* =====================================================
   CABECERA
===================================================== */

.mission-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
  margin-left: 120px;
  flex-wrap: wrap;
}

.company-name {
  width: 300px;
}

.mission-line {
  width: 3px;
  height: 120px;
  background: #f58220;
  margin: 0px 0px 0px;
}

.mission-title {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 700;
  margin: 0px 0px 0px;
  color: #111;
}

.mission-title span {
  color: #f58220;
}

/* =====================================================
   TEXTO
===================================================== */

.mission-text {
  max-width: 950px;
  margin: 0 auto 80px;

  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 1.7;
  font-style: italic;
  font-weight: 600;

  color: #111;
}

/* =====================================================
   FIRMA
===================================================== */

.mission-signature {
  width: 500px;
  max-width: 90%;
  margin-bottom: 25px;
}

/* =====================================================
   AUTOR
===================================================== */

.mission-author p {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 500;
  color: #111;
}

.mission-author span {
  font-size: 1.5rem;
  color: #222;
}

/* =====================================================
   RESPONSIVE
===================================================== */

@media (max-width: 768px) {

  .mission-logo {
    width: 180px;
  }

  .mission-header {
    flex-direction: column;
    gap: 25px;
  }

  .mission-line {
    width: 100px;
    height: 3px;
  }

  .company-name {
    width: 220px;
  }

  .mission-title {
    font-size: 2.5rem;
  }

  .mission-text {
    font-size: 1.4rem;
  }

  .mission-author p {
    font-size: 1.2rem;
  }

  .mission-author span {
    font-size: 1rem;
  }
}