/* =====================================================
   SECCIÓN
===================================================== */

.about-section {
  background: #f4f4f4;
  overflow: hidden;
}

/* =====================================================
   COLUMNA IZQUIERDA
===================================================== */

.about-content {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* =====================================================
   TITULO
===================================================== */

.about-title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 0.95;
  color: #2b323b;
  margin-bottom: 2rem;
}

/* =====================================================
   LINEA DECORATIVA
===================================================== */

.about-divider {
  width: 70px;
  height: 4px;
  background: #00a9d6;
  border-radius: 999px;
  margin-bottom: 2rem;
}

/* =====================================================
   TEXTO
===================================================== */

.about-text {
  font-size: 1.4rem;
  line-height: 1.7;
  color: #3f4650;
  max-width: 450px;
  margin-bottom: 3rem;
}

/* =====================================================
   LINK
===================================================== */

.about-link {
  display: inline-flex;
  align-items: center;
  gap: 1rem;

  text-decoration: none;

  color: #00a9d6;

  font-size: 1.5rem;
  font-weight: 700;

  border-bottom: 2px dashed #00a9d6;

  padding-bottom: 8px;

  transition: all 0.3s ease;
}

.about-link:hover {
  color: #0087ac;
}

.about-link span {
  font-size: 2rem;
}

/* =====================================================
   IMAGEN
===================================================== */



.about-image {
  width: 80%;
  height: 100%;

  object-fit: cover;
  display: block;

  margin-left: auto;
 
}

/* =====================================================
   CENTRAR TODA LA COMPOSICIÓN
===================================================== */

.about-section .row {
  justify-content: center;
}

/* =====================================================
   RESPONSIVE
===================================================== */

@media (max-width: 992px) {

  .about-content {
    padding: 3rem;
  }

  .about-title {
    font-size: 3.5rem;
  }

  .about-text {
    max-width: 100%;
  }

  .about-image {
    margin-top: 2rem;
    width: 100%;
  }
}

@media (max-width: 768px) {

  .about-title {
    font-size: 3rem;
  }

  .about-text {
    font-size: 1.1rem;
  }

  .about-link {
    font-size: 1.2rem;
  }
}