.sobre-mi-section {
  max-width: 1200px; /* Ajusta el ancho total de la sección */
  margin: 0 auto;   /* Centra horizontalmente */
  padding: 0 0rem;  /* Espaciado lateral en pantallas pequeñas */
  background-color: transparent; /* Color suave de fondo */
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


.sobre-mi-box {
  background-color: transparent; /* Color suave de fondo */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


  /* border-radius: 18px; */
  
}


.sobre-mi-titulo {
  color: #007bff; /* azul */
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem; /* equivalente a Bootstrap */
  font-weight: bold;
  
}

/* Estilos para eliminar cualquier fondo no deseado en el contenido de Sobre Mi */
.sobre-mi-contenido {
  background-color: transparent; /* Fondo del recuadro interno */
  border-radius: 8px;
  padding: 0rem;
}


/* Estilos para los títulos dentro de sobre-mi-box */
.sobre-mi-box h4 {
    background-color:  transparent; /* Color suave de fondo */
    font-size: 2rem;
  color: #ffffff;
   border-radius: 0px;
  background-color: #024d06;
  margin-right: 10rem;
  margin-left: 0rem;
  padding: 0.5rem ; 
  
}

/* Estilos para los párrafos dentro de sobre-mi-box */
.sobre-mi-box p {
    background-color: #024d06; /* Color suave de fondo */
    color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.2;
  border-radius: 68px;
  padding: 2rem; 
    margin-top: 0rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  margin-right: 1rem;
  text-align: justify;
  
  /* margin-bottom: 5rem; separa cada párrafo */
}




/* Columna que  contiene la imagen */
.sobre-mi-imagen {
  background-color: transparent; /* o el color que prefieras */
}

/* Columna que  contiene el texto */
.sobre-mi-texto {
  background-color: transparent; /* Elimina fondo blanco */
}
